$font-medium: 'Gilroy Medium';
$font-regular: 'Gilroy Regular';
$font-semibold: 'Gilroy Semibold';

@font-face {
    font-family: 'Gilroy Semibold';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

body {
    font-family: $font-regular;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

ul, h1, h2, h3, body, p {
    padding: 0;
    margin: 0;
}

.fz16 {font-size: 16px;}

.fz20 {font-size: 20px;}

.fz22 {font-size: 22px;}

.fz24 {font-size: 24px;}

.fz28 {font-size: 28px;}

.fz72 {font-size: 72px;}

.col-gray-2 {color: #242424;}

.col-gray-4 {color: #6B6B6B;}

.col-gray-3 {color: #474747}

.col-orange {color: #C78100;}

.container {
    position: relative;
    max-width: 1150px;
    margin: auto;
}

.main-header {
    height: 830px;

    .container {
        height: inherit;
    }
}

.header-bg-dog {
    z-index: -2;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 718px;
    max-height: 713px;  
    min-width: 225px;
    min-width: 357px;
    background: transparent url('../img/dog.png') no-repeat;
    background-size: cover;
}

.header-bg-cat {
    position: absolute;
    bottom: -15%;
    right: 15%;
    width: 100%;
    height: 100%;
    max-width: 483px;
    min-width: 165px;
    max-height: 469px;
    min-height: 157px;
    background: transparent url('../img/cat 1.png') no-repeat;
    background-size: cover;
}

.header-bg-text {
    z-index: -1;
    top: 70%;
    left: -9.5%;
    position: absolute;
    color: #fff;
    opacity: 0.5;
    user-select: none;
    font-family: $font-semibold;
    font-size: 150px;
    line-height: 130px;

    .bg-text-1 {
        font-size: 200px;

        span {
            font-size: 150px;
        }
    }

    .bg-text-2 {
        margin-left: 50%;
    }
}

.main-nav {
    padding-top: 33px;
    font-family: $font-semibold;
    margin-bottom: 68px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;
            padding-left: 30px;

            &:first-child {padding-left: 0;}

            a {text-decoration: none;} 
        }

        div.nav-header {
            display: flex;
            align-items: center;
        }
    }
    
}

.header-main-text {
    header {
        h1 { 
            font-family: $font-semibold;
            text-transform: uppercase;
            line-height: 87px;
        }

        p {line-height: 18px;}
    }

    p.header-our-aim {
        font-family: $font-medium;
        max-width: 659px;
        margin-top: 12px;
    }    
}

.header-shelter-info {
    .info-text {
        margin-top: 43px;
        max-width: 428px;
        margin-bottom: 45px;
        font-family: $font-medium;
    }

    .to-help {
        position: relative;
        $border: 5px;
        font-family: $font-medium;
        text-decoration: none;
        line-height: 40px;
        padding: 2px 30px;
        background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
        border-radius: 58px;
        background-clip: padding-box;
        border: solid $border transparent;

        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -$border;
            border-radius: inherit;
            background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
            box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
            border: solid 1px #e6d6aa;
        }
    }
}

.about-shelter {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 95px;

    .left-box-animals {
        position: relative;
        width: 50%;
        height: 521px;
        background-color: #FAC832;
        border-top-right-radius: 270px;
        border-bottom-right-radius: 270px;

        .dog-in-circle {
            top: 5%;
            right: 5%;
            position: absolute;
            background: #242424 url('../img/dog-in-circle.png');
            width: 464px;
            height: 464px;
            border-radius: 100%;
        }

        .cat-in-circle {
            position: absolute;
            width: 228px;
            height: 228px;
            background: #242424 url('../img/cat-in-circle.png');
            border: solid 7px #ebbf3a;
            border-radius: 100%;
            right: -5%;
            bottom: -5%;
        }
    }

    .shelter-text {
        max-width: 466px;
        margin-left: 75px;

        h2 {
            margin-bottom: 28px;
        }

        p{margin-bottom: 20px;}
    }
}

.how-to-help {

    .how-to-help-title {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
        font-family: $font-regular;
        font-weight: 300;
    }

    .help-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;

        .help-item {
            max-width: 166px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .icon-support { background: transparent url('../img/i-support.png') no-repeat center; }
            .icon-money-help { background: transparent url('../img/i-money-help.png') no-repeat center; }
            .icon-medicine { background: transparent url('../img/i-medicine.png') no-repeat center; }
            .icon-to-hospital { background: transparent url('../img/i-to-hospital.png') no-repeat center; }
            .icon-care { background: transparent url('../img/i-care.png') no-repeat center; }

            .help-icon {
                background-color: transparent;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                border: solid 2px #ffc41e;
            }

            .help-description {
                margin-top: 25px;
                text-align: center;
            }
        }
        
    }
}

.care-of-animals {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        

    .pet-icon {
        position: relative;
        background: url('../img/dog-home.png') no-repeat center center  ;
        background-size: contain;
        // min-width: 53px;
        // min-height: 51px;
        // max-width: 148px;
        // max-height: 144px;
        width: 100%;
        height: 144px;

        &::before {
            content: '';
            position: absolute;
            width: 35%;
            left: 0;
            top: 50%;
            background-color: #eebf3a;
            height: 1px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 35%;
            right: 0;
            top: 50%;
            background-color: #eebf3a;
            height: 1px;
        }
    }

    .care-text {
        margin: 70px 0;
        display: flex;
        justify-content: space-evenly;
         
        article {
            max-width: 390px;

            header {
                margin-bottom: 20px;
                font-weight: 600;
            }
        }
    }

    .our-animals {
        .our-animals-title {
            font-weight: normal;
            text-align: center;
        }
    }

    .animals-slider {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .animals-slide {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // align-items: center;
            padding: 20px 0;

            max-width: 368px;
            max-height: 695px;
            width: 368px;
            height: 695px;
            background-color: #FFFFFF;
            border: 1px solid #D6D6D6;
            border-radius: 5px;

            .slide-header {
                position: relative;
                font-family: $font-medium;
                font-weight: 500;
                text-align: center;
                
                .pet-name {
                    margin-top: 10px;

                    &::after {
                        content: '';
                        width: 90%;
                        height: 1px;
                        bottom: -10px;
                        left: 5%;
                        background-color: #D6D6D6;
                        position: absolute;
                    }
                }
            }
            
            .slide-about-pet {
                margin: 30px 15px;
                // text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .pet-skill {
                    padding: 6px 0px 40px;
                }
            }
        }
    }
}