$font-medium: 'Gilroy Medium';
$font-regular: 'Gilroy Regular';
$font-semibold: 'Gilroy Semibold';

@font-face {
    font-family: 'Gilroy Semibold';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

html {
    font-size: 14px;
}

body {
    font-family: $font-regular;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

ul, h1, h2, h3, body, p {
    padding: 0;
    margin: 0;
}

.burger-menu {
    padding-top: 10px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.burger-list {
    display: flex;
    list-style: none;
}

.burger-btn {
    position: relative;
    height: 3px;
    width: 30px;
    background-color: #242424;

    &::before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: translateY(-10px);
    }

    &::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: translateY(10px);
    }
}

.left-box-animals {
    position: relative;
    width: 50%;
    height: 521px;
    background-color: #FAC832;
    border-top-right-radius: 270px;
    border-bottom-right-radius: 270px;

    .dog-in-circle {
        top: 5%;
        right: 5%;
        position: absolute;
        width: 464px;
        height: 464px;
        border-radius: 100%;
    }
}

.content-link {
    color: #AD7F00;
    font-weight: 500;
    font-family: $font-medium;
    font-size: 20px;
}

.slide-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    width: 368px;
    height: inherit;
    position: absolute; 
    display: block;
    z-index: 2;
}

.article-set {
    max-width: 680px;
        margin-top: 45px;
        line-height: 23px;
        font-family: $font-regular;
        font-weight: normal;

        header {
            margin-bottom: 25px;

            h3 {
                font-family: $font-medium;
                font-weight: 600;
            }
        }

        footer {
            margin-top: 30px;
        }
}

.block-icons {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        width: 35%;
        left: 0;
        top: 50%;
        background-color: #eebf3a;
        height: 1px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 35%;
        right: 0;
        top: 50%;
        background-color: #eebf3a;
        height: 1px;
    }
}

.settings-block {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.to-help {
    font-size: 20px;
    color: #242424;
    position: relative;
    $border: 5px;
    font-family: $font-medium;
    text-decoration: none;
    line-height: 40px;
    padding: 2px 30px;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    background-clip: padding-box;
    border: solid $border transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
        box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
        border: solid 1px #e6d6aa;
    }
}

.gray-btn {
    position: relative;
    $border: 5px;
    font-family: $font-medium;
    text-decoration: none;
    line-height: 40px;
    padding: 2px 30px;
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
    border-radius: 58px;
    background-clip: padding-box;
    border: solid $border transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: #F6F6F6;
        box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
        border: solid 1px #f0f0f0;
    }
}

.fz14 {font-size: 14px;}

.fz18 {font-size: 18px;}

.fz16 {font-size: 16px;}

.fz20 {font-size: 20px;}

.fz22 {font-size: 22px;}

.fz24 {font-size: 24px;}

.fz28 {font-size: 28px;}

.fz72 {font-size: 72px;}

.col-gray-2 {color: #242424;}

.col-gray-4 {color: #6B6B6B;}

.col-gray-3 {color: #474747}

.col-orange {color: #C78100;}

strong {
    font-weight: 700;
    font-family: $font-medium;
}

li {
    list-style-position: inside;
}

.container {
    position: relative;
    max-width: 1150px;
    margin: auto;
}

.main-header {
    height: 830px;

    .container {
        height: inherit;
    }
}

.header-bg-dog {
    z-index: -2;
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 718px;
    max-height: 713px;  
    min-width: 225px;
    min-width: 357px;
    background: #FAC831 url('../img/dog.png') no-repeat;
    background-size: contain;
    border-radius: 0px 0px 8px 8px;
}

.header-bg-cat {
    position: absolute;
    bottom: -15%;
    right: 15%;
    width: 483px;
    height: 469px;
    background: transparent url('../img/cat 1.png') no-repeat;
    background-size: cover;
}

.header-bg-text {
    z-index: -2;
    top: 50%;
    left: -9.5%;
    position: absolute;
    color: #fff;
    opacity: 0.5;
    user-select: none;
    font-family: $font-semibold;
    font-size: 8em;
    line-height: 130px;

    .bg-text-1 {
        font-size: 200px;
        text-align: center;

        span {
            font-size: 0.6em;
        }
    }

    .bg-text-2 {
        position: absolute;
        left: 45%;
        bottom: -26%;
    }
}

.main-nav {
    padding-top: 33px;
    font-family: $font-semibold;
    margin-bottom: 68px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;
            padding-left: 30px;

            &:first-child {padding-left: 0;}

            a {text-decoration: none;} 
        }

        div.nav-header {
            display: flex;
            align-items: center;
        }
    }
    
}

.header-main-text {
    header {
        h1 { 
            font-family: $font-semibold;
            text-transform: uppercase;
            line-height: 87px;
        }

        p {line-height: 18px;}
    }

    p.header-our-aim {
        font-family: $font-medium;
        max-width: 659px;
        margin-top: 12px;
    }    
}

.header-shelter-info {
    .info-text {
        margin-top: 43px;
        max-width: 428px;
        margin-bottom: 45px;
        font-family: $font-medium;
    }

    
}

.about-shelter {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 95px;

    .dog-in-circle {
        background: url('../img/dog-in-circle.png');
    }

    .cat-in-circle {
        position: absolute;
        width: 228px;
        height: 228px;
        background: #242424 url('../img/cat-in-circle.png');
        border: solid 7px #ebbf3a;
        border-radius: 100%;
        right: -5%;
        bottom: -5%;
    }

    .shelter-text {
        margin-top: 5%;
        line-height: 23px;
        max-width: 466px;
        margin-left: 75px;

        h2 {
            margin-bottom: 28px;
            text-align: center;
        }

        p{margin-bottom: 20px;}
    }
}

.how-to-help {

    .how-to-help-title {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
        font-family: $font-regular;
        font-weight: 300;
    }

    .help-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;

        .help-item {
            max-width: 166px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .icon-support { background: transparent url('../img/i-support.svg') no-repeat center; }

            .icon-money-help { background: transparent url('../img/i-money-help.svg') no-repeat center; }

            .icon-medicine { background: transparent url('../img/i-medicine.svg') no-repeat center; }

            .icon-to-hospital { background: transparent url('../img/i-to-hospital.svg') no-repeat center; }

            .icon-care {background: transparent url('../img/i-care.svg') no-repeat center; }

            svg {width: 80px;}

            .help-icon {
                background-color: transparent;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background-color: #f6f6f6;
                border: 1px solid rgba(255, 255, 255, 0.5);
                box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
            }

            .help-description {
                margin-top: 25px;
                text-align: center;
            }
        }
        
    }
}

.care-of-animals {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        
    .container {
        max-width: 1500px;
    }

    .pet-icon {
        background: url('../img/i-support.svg') no-repeat center center  ;
        background-size: contain;
        height: 144px;
    }

    .care-text {
        margin: 70px 0;
        display: flex;
        justify-content: space-evenly;
         
        article {
            max-width: 390px;

            header {
                margin-bottom: 20px;
                font-weight: 600;
            }
        }
    }

    .our-animals {
        .our-animals-text {
            font-weight: normal;
            text-align: center;

            .our-animals-title {
                margin-bottom: 25px;
                font-weight: normal;
            }
        }
    }

    .animals-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .animals-slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20px;
            margin-top: 20px;
            padding: 20px 0;
            width: 368px;
            height: 555px;
            background-color: #FFFFFF;
            border: 1px solid #D6D6D6;
            border-radius: 5px;

            .slide-header {
                position: relative;
                font-family: $font-medium;
                font-weight: 500;
                text-align: center;
                
                .pet-name {
                    margin-top: 10px;

                    &::after {
                        content: '';
                        width: 90%;
                        height: 1px;
                        bottom: -10px;
                        left: 5%;
                        background-color: #D6D6D6;
                        position: absolute;
                    }
                }
            }
            
            .slide-about-pet {
                font-family: $font-regular;
                margin: 0 15px;
                font-weight: 500;        
            }

            .more-info {
                margin-left: 15px;
            }
        }

    }

    .slider-controll {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 25px;

            #take-on-time {
                margin-top: 20px;
                padding: 0 30px;
            }
        }

        .slider-arrow {
            position: absolute;
        }
        
        .slider-left-arrow {
            left: 15%;
        }

        .slider-right-arrow {
            right: 15%;
        }
    }

    .care-footer {
        margin-top: 80px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {max-width: 583px;}

        .care-socials {
            display: flex;
            justify-content: center;
            align-items: center;

            li {list-style: none;}
        }
    }
}

.financial-support {
    background-color: #ffffff;

    .finance-icon {
        background: url('../img/i-money-help.svg') no-repeat center center;
        background-size: contain;
        height: 93px;
    }

    .finance-title {
        text-align: center;
        margin-top: 60px;
        max-width: 758px;

        h2 {
            font-weight: 600;
            padding-bottom: 25px;
        }

    }

    .finance-text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        p {
            margin-bottom: 10px;
        }

        .finance-text-title {
            font-weight: normal;
            margin-bottom: 25px;
            line-height: 22px;
            font-weight: 400;
            font-family: $font-regular;
            font-family: $font-regular;//to light
        }

        .finance-description {
            margin-top: 30px;
        }

        li {
            padding-bottom: 10px;
        }

        .payment-bank {

            li {list-style: none;}
        }

        .donate-box {
            white-space: nowrap;
            margin-left: 100px;

            li{
                list-style: number;
            }
        }

        .finance-block {
            margin-top: 40px;
        }
    }
}

.animals-help {

    .animals-help-icon {
        background: url('../img/i-medicine.svg') no-repeat center center;
        background-size: contain;
        height: 126px;
    }

    .help-type {

        ul {
            font-weight: 400;
            font-family: $font-regular;

            li {
                padding-top: 10px;
            }
        }
    }

    #where-send {
        display: block;
        align-self: flex-start;
        margin-top: 25px;
    }

}

.auto-help {

    .auto-help-icon {
        background: url('../img/i-to-hospital.svg') no-repeat center center;
        background-size: contain;
        height: 115px;
    }
}

.volunteering {
    padding-bottom: 50px;
    padding-top: 50px;

    .volunteering-content {
        display: flex;
        align-items: center;

        article {
            margin-left: 75px;
            max-width: 466px;
        }
    }

    .volunteering-icon {
        background: url('../img/i-care.svg') no-repeat center center;
        background-size: contain;
        height: 115px;
    }

    .dog-in-circle {
        background: url('../img/dog-in-circle-2.png');
    }
}

.news {
    background-color: #fff;

    .shelter-news-title {
        text-align: center;
    }

    .news-block {
        display: flex;
        align-items: center;
        margin-top: 40px;

        .news-text {
            max-width: 603px;
            margin-left: 35px;
        }
    }

    #all-news {
        display: block;
        margin-top: 25px;
    }
}

.about-us {
    line-height: 24px;
    font-weight: normal;
    font-family: $font-regular;

    li {
        list-style: none;
    }

    .about-us-description {
        font-family: $font-medium;
    }

    .about-us-title {
        text-align: center;
        font-weight: 600;
    }

    .about-us-text {
        margin-top: 25px;
        max-width: 680px;
        font-weight: 500;
    }

    .about-us-contacts {

        .contacts-title {
            margin: 25px 0;
        }

        .contacts-list-title {
            max-width: 680px;
        }
    }

    .about-us-socials {
        margin-top: 40px;

        .social-list {
            display: flex;
            margin-top: 10px;
        }
    }    
}

.thanks-for-help {
    position: relative;
    background: url('../img/bg-thanks.png') no-repeat center center;
    background-size: cover;
    height: 741px;  

    .text-left {
        mix-blend-mode: soft-light;
        position: absolute;
        top: 17%;
        width: 50%;
        height: 521px;
        background-color: #322D1E;
        border-top-right-radius: 270px;
        border-bottom-right-radius: 270px;
    }
}

.thanks-text {
    background: url('../img/thanks-paw.png') no-repeat right 70px; 
    padding-right: 95px;  
    position: absolute;
    margin-left: 135px;
    font-family: $font-medium;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
    top: 43%;
}

.main-footer {
    padding: 40px 0px 16px;

    .settings-block {
        flex-wrap: wrap;
    }

    .footer-list {
        display: flex;
        margin: 0px 0px 24px;

        div {
            display: flex;
        }

        .right-list {
            margin-left: 120px;
        }

        li {
            list-style: none;
            padding-left: 40px;
        }
    }

    .copyright {
        font-family: $font-regular;
        color: #B3B3B3;
        font-weight: normal;
        font-size: 12px;
    }
}

.active {
    display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1269px) {
    .container {max-width: 804px;}

    .fz72 {font-size: 64px;}

    .fz16 {font-size: 14px;}

    .fz18 {font-size: 16px;}

    .fz24 {font-size: 20px;}

    .fz28 {font-size: 24px;}

    .burger-menu {display: flex;}

    .main-nav {display: none;}

    //header
    .main-header {
        height: 642px;

        .header-main-text .header-our-aim {max-width: 461px;}
    
        .header-bg-dog {
            width: 504px;
            height: 90%;
        }

        .header-bg-cat {
            width: 344px;
            height: 326px;
        }

        .header-shelter-info {
            max-width: 300px;
        }
    }

    //About shelter
    .about-shelter .shelter-text {
        max-width: 323px;
    }

    //help
    .how-to-help .help-list .help-item .help-icon {
        width: 110px;
        height: 110px;
    }

    .how-to-help .help-list .help-item .help-description {
        max-width: 140px;
    }

    //care
    .care-of-animals .care-text article {
        max-width: 275px;
    }
    
    .care-of-animals .care-footer p {
        max-width: 529px;
    }

    //finance
    .financial-support .finance-title {
        max-width: 530px;
    }

    .financial-support .finance-text .donate-box {
        white-space: normal;
        max-width: 274px;
    }

    //volunteering
    .volunteering .volunteering-content article {
        max-width: 323px;
    }

    //news
    .news .news-block .news-text {
        max-width: 433px;
    }

    //thanks
    .thanks-text {
        background: url("../img/thanks-paw.png") no-repeat right 40px;
        font-size: 48px;
    }

    .shelter-text {
        margin-top: 10%; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .fz72 {font-size: 42px;}

    .fz16 {font-size: 14px;}

    .fz18 {font-size: 16px;}

    .fz24 {font-size: 16px;}

    .fz28 {font-size: 24px;}

    .container {max-width: 560px;}

    .burger-menu {display: flex;}

    //header
    .main-nav {display: none;}

    .main-header {
        height: 535px;

        .save-aninals-title {line-height: 50px;}

        .save-aninals-text {max-width: 311px;}

        .header-main-text .header-our-aim {max-width: 311px;}
    
        .header-bg-dog {
            width: 344px;
            height: 85%;
        }

        .header-bg-cat {
            width: 235px;
            height: 222px;
        }

        .header-shelter-info {
            max-width: 204px;
        }
    }
}