@import url(mobile.scss);
@font-face {
  font-family: 'Gilroy Semibold';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: 'Gilroy Regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Gilroy Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"); }
html {
  font-size: 14px; }

body {
  position: relative;
  font-family: "Gilroy Regular";
  box-sizing: border-box;
  background-color: #f6f6f6;
  line-height: 20px; }

ul, h1, h2, h3, body, p {
  padding: 0;
  margin: 0; }

.active-burger {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 10%; }
  .active-burger .burger-header {
    background: #FFC41E;
    width: 100%;
    height: 7%; }
  .active-burger .burger-nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff; }
    .active-burger .burger-nav-list li {
      list-style: none;
      padding-top: 35px;
      padding-bottom: 25px; }
      .active-burger .burger-nav-list li a {
        color: #242424;
        font-size: 16px;
        font-weight: 600;
        font-family: "Gilroy Regular";
        text-decoration: none; }
    .active-burger .burger-nav-list li::after {
      content: '';
      left: 10%;
      margin-top: 25px;
      position: absolute;
      display: block;
      height: 1px;
      width: 80%;
      background: #FFC41E; }
    .active-burger .burger-nav-list li:last-child::after {
      content: '';
      display: none; }

.burger-menu {
  padding-top: 30px;
  padding-bottom: 20px;
  display: none;
  justify-content: space-between;
  align-items: center; }
  .burger-menu .close {
    z-index: 2; }

.burger-list {
  display: flex;
  list-style: none; }

.burger-btn {
  position: relative;
  height: 3px;
  width: 30px;
  background-color: #242424; }
  .burger-btn::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transform: translateY(-10px); }
  .burger-btn::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transform: translateY(10px); }

.financial-support .finance-text .donate-box .payment-list li {
  list-style-position: inside; }

.left-box-animals {
  position: relative;
  width: 50%;
  height: 521px;
  margin-top: 3%;
  background-color: #FAC832;
  border-top-right-radius: 270px;
  border-bottom-right-radius: 270px; }
  .left-box-animals .dog-in-circle {
    top: 5%;
    right: 5%;
    position: absolute;
    width: 464px;
    height: 464px;
    border-radius: 100%; }

.content-link {
  color: #AD7F00;
  font-weight: 500;
  font-family: "Gilroy Medium";
  font-size: 20px; }

.article-set {
  max-width: 680px;
  margin-top: 45px;
  line-height: 23px;
  font-family: "Gilroy Regular";
  font-weight: normal; }
  .article-set header {
    margin-bottom: 25px; }
    .article-set header h3 {
      font-family: "Gilroy Medium";
      font-weight: 600; }
  .article-set footer {
    margin-top: 30px; }

.block-icons {
  position: relative;
  width: 100%; }
  .block-icons::before {
    content: '';
    position: absolute;
    width: 35%;
    left: 0;
    top: 50%;
    background-color: #eebf3a;
    height: 1px; }
  .block-icons::after {
    content: '';
    position: absolute;
    width: 35%;
    right: 0;
    top: 50%;
    background-color: #eebf3a;
    height: 1px; }

.settings-block {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.social-white {
  position: relative;
  margin-right: 30px;
  background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
  box-shadow: 3px 3px 13px #B1B1B1;
  width: 49px;
  height: 49px;
  border-radius: 100%; }
  .social-white::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -7px;
    border-radius: inherit;
    background: linear-gradient(144.1deg, #FFFFFF 12.45%, #FBFBFB 89.31%);
    box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #FFFFFF, inset 13px 22px 8px #F3F3F3; }
  .social-white img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }

.social-orange {
  position: relative;
  margin-right: 30px;
  background: linear-gradient(150.26deg, #FFE28F 6.75%, #ECBD37 91.17%);
  box-shadow: 3px 3px 13px #C18F00;
  width: 49px;
  height: 49px;
  border-radius: 100%; }
  .social-orange::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -7px;
    border-radius: inherit;
    background: linear-gradient(144.1deg, #FFE193 12.45%, #FFC93F 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #FFDB7E, inset 13px 22px 8px #F1C74F; }
  .social-orange img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }

.to-help {
  font-size: 20px;
  color: #242424;
  position: relative;
  font-family: "Gilroy Medium";
  text-decoration: none;
  line-height: 40px;
  padding: 2px 30px;
  background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 58px;
  background-clip: padding-box;
  border: solid 5px transparent; }
  .to-help:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border: solid 1px #e6d6aa; }

#finance-fast-pay {
  z-index: 1; }

.gray-btn {
  position: relative;
  font-family: "Gilroy Medium";
  text-decoration: none;
  line-height: 40px;
  padding: 2px 30px;
  background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
  box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
  border-radius: 58px;
  background-clip: padding-box;
  border: solid 5px transparent; }
  .gray-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: #F6F6F6;
    box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0; }

.fz14 {
  font-size: 14px; }

.fz18 {
  font-size: 18px; }

.fz16 {
  font-size: 16px; }

.fz20 {
  font-size: 20px; }

.fz22 {
  font-size: 22px; }

.fz24 {
  font-size: 24px; }

.fz28 {
  font-size: 28px; }

.fz72 {
  font-size: 72px; }

.col-gray-2 {
  color: #242424; }

.col-gray-4 {
  color: #6B6B6B; }

.col-gray-3 {
  color: #474747; }

.col-orange {
  color: #C78100; }

strong {
  font-weight: 700;
  font-family: "Gilroy Medium"; }

li {
  list-style-position: inside; }

.container {
  position: relative;
  max-width: 1150px;
  margin: auto; }

.main-header {
  height: 830px; }
  .main-header .container {
    height: inherit; }

.header-bg-dog {
  z-index: -2;
  top: 0;
  right: 0;
  position: absolute;
  width: 718px;
  height: 713px;
  background: #FAC831 url("../img/dog.png") no-repeat right bottom;
  background-size: contain;
  border-radius: 0px 0px 8px 8px; }

.header-bg-cat {
  position: absolute;
  bottom: -15%;
  right: 15%;
  width: 483px;
  height: 469px;
  background: transparent url("../img/cat 1.png") no-repeat;
  background-size: cover; }

.header-bg-text {
  z-index: -2;
  top: 4%;
  left: 14%;
  position: absolute;
  color: #fff;
  opacity: 0.5;
  user-select: none;
  font-family: "Gilroy Semibold";
  font-size: 8em;
  line-height: 130px; }
  .header-bg-text .bg-text-1 {
    font-size: 200px;
    text-align: center; }
    .header-bg-text .bg-text-1 span {
      font-size: 0.6em; }
  .header-bg-text .bg-text-2 {
    position: absolute;
    left: 58%;
    bottom: -50%; }

.main-nav {
  padding-top: 33px;
  font-family: "Gilroy Semibold";
  margin-bottom: 68px; }
  .main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-nav ul li {
      list-style: none;
      padding-left: 30px; }
      .main-nav ul li:first-child {
        padding-left: 0; }
      .main-nav ul li.social-orange {
        padding-left: 0;
        margin-right: 30px; }
      .main-nav ul li a {
        text-decoration: none; }
    .main-nav ul div.nav-header {
      display: flex;
      align-items: center; }

.header-main-text header h1 {
  font-family: "Gilroy Semibold";
  text-transform: uppercase;
  line-height: 87px; }
.header-main-text header p {
  line-height: 18px; }
.header-main-text p.header-our-aim {
  font-family: "Gilroy Medium";
  max-width: 659px;
  margin-top: 12px; }

.header-shelter-info .info-text {
  margin-top: 43px;
  max-width: 428px;
  margin-bottom: 45px;
  line-height: 30px;
  font-family: "Gilroy Medium"; }

.about-shelter {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  padding-top: 55px;
  padding-bottom: 95px; }
  .about-shelter .dog-in-circle {
    background: url("../img/dog-in-circle.png") no-repeat center;
    background-size: cover; }
  .about-shelter .cat-in-circle {
    position: absolute;
    width: 228px;
    height: 228px;
    background: #242424 url("../img/cat-in-circle.png") no-repeat center;
    background-size: cover;
    border: solid 7px #ebbf3a;
    border-radius: 100%;
    right: -5%;
    bottom: -5%; }
  .about-shelter .shelter-text {
    margin-top: 5%;
    line-height: 23px;
    max-width: 466px;
    margin-left: 75px; }
    .about-shelter .shelter-text h2 {
      margin-bottom: 28px;
      text-align: center; }
    .about-shelter .shelter-text p {
      margin-bottom: 20px; }

.how-to-help .how-to-help-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: "Gilroy Regular";
  font-weight: 300; }
.how-to-help .help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 80px; }
  .how-to-help .help-list .help-item {
    margin-top: 30px;
    max-width: 166px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    .how-to-help .help-list .help-item:first-child {
      padding: 0; }
    .how-to-help .help-list .help-item .icon-support {
      background: transparent url("../img/i-support.svg") no-repeat center;
      background-size: 80px; }
    .how-to-help .help-list .help-item .icon-money-help {
      background: transparent url("../img/i-money-help.svg") no-repeat center;
      background-size: 91px; }
    .how-to-help .help-list .help-item .icon-medicine {
      background: transparent url("../img/i-medicine.svg") no-repeat center;
      background-size: 93px; }
    .how-to-help .help-list .help-item .icon-to-hospital {
      background: transparent url("../img/i-to-hospital.svg") no-repeat center;
      background-size: 83px; }
    .how-to-help .help-list .help-item .icon-care {
      background: transparent url("../img/i-care.svg") no-repeat center;
      background-size: 63px 83px; }
    .how-to-help .help-list .help-item .help-icon {
      background-color: transparent;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: #f6f6f6;
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77); }
    .how-to-help .help-list .help-item .help-description {
      margin-top: 25px;
      text-align: center; }

.care-of-animals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .care-of-animals .container {
    max-width: 1500px; }
  .care-of-animals .pet-icon {
    background: url("../img/i-support.svg") no-repeat center center;
    background-size: contain;
    height: 144px; }
  .care-of-animals .care-text {
    margin: 70px 0;
    display: flex;
    justify-content: space-evenly; }
    .care-of-animals .care-text article {
      max-width: 390px; }
      .care-of-animals .care-text article header {
        margin-bottom: 20px;
        font-weight: 600; }
  .care-of-animals .our-animals .our-animals-text {
    font-weight: normal;
    text-align: center; }
    .care-of-animals .our-animals .our-animals-text .our-animals-title {
      margin-bottom: 25px;
      font-weight: normal; }
  .care-of-animals .animals-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .care-of-animals .animals-slider .animals-slide {
      position: relative;
      margin-right: 20px;
      margin-top: 20px;
      width: 368px;
      min-height: 559px;
      height: auto;
      background-color: #FFFFFF;
      border: 1px solid #D6D6D6;
      border-radius: 5px; }
      .care-of-animals .animals-slider .animals-slide .more-info {
        position: absolute;
        bottom: 15px; }
      .care-of-animals .animals-slider .animals-slide .slide-header {
        position: relative;
        font-family: "Gilroy Medium";
        font-weight: 500;
        text-align: center; }
        .care-of-animals .animals-slider .animals-slide .slide-header .animal-photo {
          height: 100%;
          width: auto;
          margin-top: 16px;
          margin-left: 17px;
          margin-right: 16px; }
        .care-of-animals .animals-slider .animals-slide .slide-header .pet-name {
          margin-top: 10px; }
          .care-of-animals .animals-slider .animals-slide .slide-header .pet-name::after {
            content: '';
            width: 90%;
            height: 1px;
            bottom: -10px;
            left: 5%;
            background-color: #D6D6D6;
            position: absolute; }
      .care-of-animals .animals-slider .animals-slide .slide-about-pet {
        font-family: "Gilroy Regular";
        margin: 15px 15px;
        font-weight: 500;
        margin-bottom: 55px; }
      .care-of-animals .animals-slider .animals-slide .more-info {
        margin-left: 15px; }
  .care-of-animals .slider-controll {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .care-of-animals .slider-controll .slider-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 25px; }
      .care-of-animals .slider-controll .slider-buttons #take-on-time {
        margin-top: 20px;
        padding: 0 30px; }
    .care-of-animals .slider-controll .slider-arrow {
      position: absolute; }
    .care-of-animals .slider-controll .slider-left-arrow {
      left: 15%; }
    .care-of-animals .slider-controll .slider-right-arrow {
      right: 15%; }
  .care-of-animals .care-footer {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .care-of-animals .care-footer p {
      max-width: 583px; }
    .care-of-animals .care-footer .care-socials {
      display: flex;
      justify-content: center;
      align-items: center; }
      .care-of-animals .care-footer .care-socials li {
        list-style: none; }

.financial-support {
  background-color: #ffffff; }
  .financial-support .finance-icon {
    background: url("../img/i-money-help.svg") no-repeat center center;
    background-size: contain;
    height: 93px; }
  .financial-support .finance-title {
    text-align: center;
    margin-top: 60px;
    max-width: 758px; }
    .financial-support .finance-title h2 {
      font-weight: 600;
      padding-bottom: 25px; }
  .financial-support .finance-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .financial-support .finance-text p {
      margin-bottom: 10px; }
    .financial-support .finance-text .finance-text-title {
      font-weight: normal;
      margin-bottom: 25px;
      line-height: 22px;
      font-weight: 400;
      font-family: "Gilroy Regular";
      font-family: "Gilroy Regular"; }
    .financial-support .finance-text .finance-description {
      margin-top: 30px; }
    .financial-support .finance-text li {
      padding-bottom: 10px; }
    .financial-support .finance-text .payment-bank li {
      list-style: none; }
    .financial-support .finance-text .donate-box {
      white-space: nowrap;
      margin-left: 100px; }
      .financial-support .finance-text .donate-box li {
        list-style: number; }
    .financial-support .finance-text .finance-block {
      margin-top: 40px; }

.animals-help .animals-help-icon {
  background: url("../img/i-medicine.svg") no-repeat center center;
  background-size: contain;
  height: 126px; }
.animals-help .help-type ul {
  font-weight: 400;
  font-family: "Gilroy Regular"; }
  .animals-help .help-type ul li {
    padding-top: 10px; }
.animals-help #where-send {
  display: block;
  align-self: flex-start;
  margin-top: 25px; }

.auto-help .auto-help-icon {
  background: url("../img/i-to-hospital.svg") no-repeat center center;
  background-size: contain;
  height: 115px; }

.volunteering {
  padding-bottom: 50px;
  padding-top: 50px; }
  .volunteering .volunteering-content {
    display: flex;
    align-items: center; }
    .volunteering .volunteering-content article {
      margin-left: 75px;
      max-width: 466px; }
  .volunteering .volunteering-icon {
    background: url("../img/i-care.svg") no-repeat center center;
    background-size: contain;
    height: 115px; }
  .volunteering .dog-in-circle {
    background: url("../img/dog-in-circle-2.png") no-repeat center;
    background-size: cover; }

.news {
  background-color: #fff; }
  .news .shelter-news-title {
    text-align: center; }
  .news .news-block {
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 40px; }
    .news .news-block .news-text {
      max-width: 603px;
      margin-left: 35px; }
  .news #all-news {
    display: block;
    margin-top: 25px; }

.about-us {
  line-height: 24px;
  font-weight: normal;
  font-family: "Gilroy Regular"; }
  .about-us li {
    list-style: none; }
  .about-us .about-us-description {
    font-family: "Gilroy Medium"; }
  .about-us .about-us-title {
    text-align: center;
    font-weight: 600; }
  .about-us .about-us-text {
    margin-top: 25px;
    max-width: 680px;
    font-weight: 500; }
  .about-us .about-us-contacts .contacts-title {
    margin: 25px 0; }
  .about-us .about-us-contacts .contacts-list-title {
    max-width: 680px; }
  .about-us .about-us-socials {
    margin-top: 40px; }
    .about-us .about-us-socials .social-list {
      display: flex;
      margin-top: 10px; }

.thanks-for-help {
  position: relative;
  background: url("../img/bg-thanks.png") no-repeat center center;
  background-size: cover;
  height: 741px; }
  .thanks-for-help .text-left {
    mix-blend-mode: soft-light;
    position: absolute;
    top: 17%;
    width: 50%;
    height: 70%;
    background-color: #322D1E;
    border-top-right-radius: 270px;
    border-bottom-right-radius: 270px; }

.thanks-text {
  background: url("../img/thanks-paw.png") no-repeat right 70px;
  padding-right: 95px;
  position: absolute;
  margin-left: 10%;
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
  line-height: 120%;
  top: 43%; }

.main-footer {
  padding: 40px 0px 16px; }
  .main-footer .settings-block {
    flex-wrap: wrap; }
  .main-footer .footer-list {
    display: flex;
    margin: 0px 0px 24px; }
    .main-footer .footer-list div {
      display: flex; }
    .main-footer .footer-list .right-list {
      margin-left: 120px; }
    .main-footer .footer-list li {
      list-style: none;
      padding-left: 40px; }
  .main-footer .copyright {
    font-family: "Gilroy Regular";
    color: #B3B3B3;
    font-weight: normal;
    font-size: 12px; }

.active {
  display: none; }

.disable {
  display: none; }

@media screen and (min-width: 1024px) and (max-width: 1269px) {
  .container {
    max-width: 804px; }

  .fz72 {
    font-size: 64px; }

  .fz16 {
    font-size: 14px; }

  .fz18 {
    font-size: 16px; }

  .fz24 {
    font-size: 20px; }

  .fz28 {
    font-size: 24px; }

  .burger-menu {
    display: flex; }

  .main-nav {
    display: none; }

  .main-header {
    height: 642px; }
    .main-header .header-main-text .header-our-aim {
      max-width: 461px; }
    .main-header .header-bg-dog {
      width: 504px;
      height: 90%; }
    .main-header .header-bg-cat {
      width: 344px;
      height: 326px; }
    .main-header .header-shelter-info {
      max-width: 300px; }
    .main-header .header-bg-text .bg-text-1 {
      font-size: 150px;
      line-height: 80px; }
    .main-header .header-bg-text .bg-text-2 {
      left: 45%;
      bottom: -60%; }
    .main-header .header-bg-text {
      left: 0%; }

  .about-shelter .shelter-text {
    max-width: 323px; }

  .how-to-help .help-list .help-item .help-icon {
    width: 110px;
    height: 110px; }

  .how-to-help .help-list .help-item .help-description {
    max-width: 140px; }

  .care-of-animals .animals-slider {
    width: 1024px; }

  .care-of-animals .care-text article {
    max-width: 275px; }

  .care-of-animals .care-footer p {
    max-width: 529px; }

  .financial-support .finance-title {
    max-width: 530px; }

  .financial-support .finance-text .donate-box {
    white-space: normal;
    max-width: 274px; }

  .volunteering .volunteering-content article {
    max-width: 323px; }

  .news .news-block .news-text {
    max-width: 433px; }

  .thanks-text {
    background: url("../img/thanks-paw.png") no-repeat right 40px;
    font-size: 48px; }

  .shelter-text {
    margin-top: 10%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fz72 {
    font-size: 42px; }

  .fz16 {
    font-size: 14px; }

  .fz18 {
    font-size: 16px; }

  .fz24 {
    font-size: 16px; }

  .fz28 {
    font-size: 20px; }

  .container {
    max-width: 560px; }

  .burger-menu {
    display: flex; }

  .main-nav {
    display: none; }

  .main-header {
    height: 535px;
    padding-bottom: 50px; }
    .main-header .save-aninals-title {
      line-height: 50px; }
    .main-header .save-aninals-text {
      max-width: 311px; }
    .main-header .header-main-text .header-our-aim {
      max-width: 311px; }
    .main-header .header-bg-dog {
      width: 344px;
      height: 85%; }
    .main-header .header-bg-cat {
      width: 235px;
      height: 222px;
      bottom: -5%; }
    .main-header .header-shelter-info {
      max-width: 204px; }
      .main-header .header-shelter-info p {
        line-height: 19px; }
    .main-header .header-bg-text .bg-text-1 {
      font-size: 120px;
      line-height: 60px; }
    .main-header .header-bg-text .bg-text-2 {
      left: 45%;
      bottom: -60%; }
    .main-header .header-bg-text {
      left: 0%; }

  .about-shelter {
    padding-bottom: 30px;
    padding-top: 0; }
    .about-shelter .shelter-text {
      max-width: 264px;
      margin-left: 55px; }
    .about-shelter .left-box-animals {
      height: 273px; }
      .about-shelter .left-box-animals .dog-in-circle {
        width: 243px;
        height: 243px; }
      .about-shelter .left-box-animals .cat-in-circle {
        position: absolute;
        width: 120px;
        height: 120px;
        right: -5%;
        bottom: -5%; }

  .how-to-help .help-list .help-item .help-icon {
    width: 110px;
    height: 110px; }

  .how-to-help .how-to-help-title {
    margin: 65px 0px 0px; }

  .care-of-animals .animals-slider {
    width: 768px; }

  .care-of-animals .care-text article {
    max-width: 190px; }

  .care-of-animals .care-footer p {
    max-width: 379px; }

  .financial-support .finance-title {
    max-width: 358px; }

  .financial-support .finance-text .finance-block {
    white-space: normal;
    max-width: 237px; }

  .volunteering .volunteering-content article {
    margin-left: 45px; }
    .volunteering .volunteering-content article p {
      max-width: 217px; }
  .volunteering .left-box-animals {
    height: 300px; }
    .volunteering .left-box-animals .dog-in-circle {
      width: 266px;
      height: 266px; }

  .auto-help .article-set {
    max-width: 398px; }

  .news .news-block .news-text {
    max-width: 304px; }

  .news .news-image img {
    width: 104px;
    height: 104px; }

  .about-us .container {
    max-width: 466px; }

  .thanks-for-help {
    height: 416px; }

  .thanks-text {
    background: url("../img/thanks-paw.png") no-repeat right 10px;
    font-size: 36px; } }
@media screen and (min-width: 640px) and (max-width: 767px) {
  .fz72 {
    font-size: 30px; }

  .fz16 {
    font-size: 14px; }

  .fz18 {
    font-size: 16px; }

  .fz24 {
    font-size: 16px; }

  .fz28 {
    font-size: 16px; }

  .container {
    max-width: 640px; }

  .burger-menu {
    display: flex; }

  .main-nav {
    display: none; }

  .main-header {
    height: 566px;
    padding-bottom: 50px; }
    .main-header .save-aninals-title {
      line-height: 36px; }
    .main-header .save-aninals-text {
      max-width: 282px;
      margin-bottom: 20px;
      font-size: 12px; }
    .main-header .header-main-text .header-our-aim {
      max-width: 311px; }
    .main-header .header-bg-dog {
      width: 312px;
      height: 65%;
      background-size: cover; }
    .main-header .header-bg-cat {
      width: 165px;
      height: 157px;
      bottom: 23%; }
    .main-header .container .header-main-text {
      margin-left: 16%; }
    .main-header .header-shelter-info {
      position: absolute;
      left: 20%;
      bottom: 0px;
      text-align: center;
      max-width: 381px; }
      .main-header .header-shelter-info p {
        line-height: 19px; }
      .main-header .header-shelter-info .info-text {
        margin-bottom: 20px;
        margin-top: 0; }
    .main-header .header-bg-text .bg-text-1 {
      font-size: 120px;
      line-height: 60px; }
    .main-header .header-bg-text .bg-text-2 {
      left: 45%;
      bottom: -60%; }
    .main-header .header-bg-text {
      left: 0%;
      top: 2.5%; }

  .about-shelter {
    padding-bottom: 15px;
    padding-top: 0;
    flex-direction: column; }
    .about-shelter .shelter-text {
      max-width: 382px;
      margin-left: 55px;
      align-self: center;
      margin-left: 0; }
    .about-shelter .left-box-animals {
      height: 197px;
      width: 65%; }
      .about-shelter .left-box-animals .dog-in-circle {
        top: 6.5%;
        right: 4%;
        width: 172px;
        height: 172px; }
      .about-shelter .left-box-animals .cat-in-circle {
        position: absolute;
        width: 84px;
        height: 84px;
        right: -5%;
        bottom: -5%; }

  .how-to-help .help-list .help-item .help-icon {
    width: 80px;
    height: 80px; }

  .how-to-help .help-list .help-item {
    margin-right: 20px; }

  .how-to-help .help-description {
    max-width: 142px; }
  .how-to-help .how-to-help-title {
    margin: 35px 0px 0px; }

  .how-to-help .help-list .help-item {
    align-items: center; }
    .how-to-help .help-list .help-item .icon-support {
      background-size: 44px 43px; }
    .how-to-help .help-list .help-item .icon-money-help {
      background-size: 49px 35px; }
    .how-to-help .help-list .help-item .icon-medicine {
      background-size: 49px 38px; }
    .how-to-help .help-list .help-item .icon-to-hospital {
      background-size: 44px; }
    .how-to-help .help-list .help-item .icon-care {
      background-size: 35px 46px; }

  .how-to-help .help-list {
    justify-content: center; }

  .care-of-animals .animals-slider {
    width: 640px; }

  .care-of-animals .care-text article {
    max-width: 382px; }

  .care-of-animals .care-footer p {
    max-width: 382px; }

  .care-of-animals .care-text {
    align-items: center;
    flex-direction: column; }
    .care-of-animals .care-text article header {
      text-align: center; }

  .care-of-animals .care-footer {
    flex-direction: column;
    align-items: center; }
    .care-of-animals .care-footer .fz18 {
      font-size: 14px; }

  .financial-support {
    padding-top: 35px; }

  .financial-support .finance-title {
    max-width: 358px; }

  .financial-support .finance-text .finance-block {
    white-space: normal;
    max-width: 382px;
    list-style-position: inside; }

  .animals-help .container {
    max-width: 382px;
    line-height: 20px; }

  .animals-help .help-type ul li {
    padding: 0; }

  .article-set footer {
    margin: 0; }

  .auto-help .container {
    max-width: 382px; }

  .auto-help .article-set {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .auto-help .article-set p {
      margin-bottom: 20px; }

  .volunteering {
    padding-top: 0; }
    .volunteering .volunteering-content {
      align-items: flex-start;
      flex-direction: column; }
      .volunteering .volunteering-content .article-set {
        display: flex;
        flex-direction: column;
        align-items: center; }
    .volunteering .volunteering-content article {
      margin-left: 0px;
      align-self: center; }
      .volunteering .volunteering-content article p {
        max-width: 382px;
        margin-bottom: 20px; }
    .volunteering .left-box-animals {
      height: 197px;
      width: 65%; }
      .volunteering .left-box-animals .dog-in-circle {
        top: 6.5%;
        right: 4%;
        width: 172px;
        height: 172px; }

  .news .news-block .news-text {
    max-width: 287px; }

  .news .news-image img {
    width: 79px;
    height: 79px; }

  .about-us .container {
    max-width: 466px; }

  .about-us .about-us-socials {
    display: flex;
    align-items: center; }
    .about-us .about-us-socials .fz16 {
      font-size: 16px; }

  .thanks-text {
    background: url("../img/thanks-paw.png") no-repeat right 0px;
    font-size: 30px;
    line-height: 36px; }

  .thanks-for-help {
    height: 360px; }

  .shelter-text {
    margin-top: 10%; } }
@media screen and (min-width: 360px) and (max-width: 639px) {
  .fz72 {
    font-size: 30px; }

  .fz16 {
    font-size: 14px; }

  .fz18 {
    font-size: 16px; }

  .fz24 {
    font-size: 16px; }

  .fz28 {
    font-size: 16px; }

  .container {
    max-width: 640px; }

  .burger-menu {
    display: flex; }

  .main-nav {
    display: none; }

  .main-header {
    height: 566px;
    padding-bottom: 50px; }
    .main-header .save-aninals-title {
      line-height: 36px; }
    .main-header .save-aninals-text {
      max-width: 211px;
      margin-bottom: 20px;
      font-size: 12px; }
    .main-header .header-main-text .header-our-aim {
      max-width: 158px; }
    .main-header .header-bg-dog {
      width: 225px;
      height: 65%;
      background-position-x: -80px;
      background-size: cover; }
    .main-header .header-bg-cat {
      width: 165px;
      height: 157px;
      bottom: 23%; }
    .main-header .container .header-main-text {
      margin-left: 9%; }
    .main-header .header-shelter-info {
      position: absolute;
      left: 8%;
      bottom: -10px;
      text-align: center;
      max-width: 300px; }
      .main-header .header-shelter-info p {
        line-height: 19px; }
      .main-header .header-shelter-info .info-text {
        margin-bottom: 20px;
        margin-top: 0; }
    .main-header .header-bg-text .bg-text-1 {
      font-size: 60px;
      line-height: 30px; }
    .main-header .header-bg-text .bg-text-2 {
      left: 15%;
      bottom: -120%;
      font-size: 60px; }
    .main-header .header-bg-text {
      left: 0%;
      top: 2.5%; }

  .about-shelter {
    padding-bottom: 15px;
    padding-top: 0;
    flex-direction: column; }
    .about-shelter .shelter-text {
      max-width: 310px;
      margin-top: 30px;
      align-self: center;
      margin-left: 0; }
    .about-shelter .left-box-animals {
      height: 197px;
      width: 65%; }
      .about-shelter .left-box-animals .dog-in-circle {
        top: 6.5%;
        right: 4%;
        width: 172px;
        height: 172px; }
      .about-shelter .left-box-animals .cat-in-circle {
        position: absolute;
        width: 84px;
        height: 84px;
        right: -5%;
        bottom: -5%; }

  .how-to-help .help-list .help-item .help-icon {
    width: 80px;
    height: 80px; }

  .how-to-help .help-description {
    max-width: 142px; }
  .how-to-help .how-to-help-title {
    margin: 35px 0px 0px; }

  .how-to-help .help-list {
    justify-content: center; }

  .how-to-help .help-list .help-item {
    align-items: center; }
    .how-to-help .help-list .help-item .icon-support {
      background-size: 44px 43px; }
    .how-to-help .help-list .help-item .icon-money-help {
      background-size: 49px 35px; }
    .how-to-help .help-list .help-item .icon-medicine {
      background-size: 49px 38px; }
    .how-to-help .help-list .help-item .icon-to-hospital {
      background-size: 44px; }
    .how-to-help .help-list .help-item .icon-care {
      background-size: 35px 46px; }

  .care-of-animals .animals-slider {
    width: 360px; }

  .care-of-animals .care-text article {
    max-width: 300px; }

  .care-of-animals .care-footer p {
    max-width: 300px; }

  .care-of-animals .care-text {
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px; }
    .care-of-animals .care-text article header {
      text-align: center; }

  .care-of-animals .care-text article {
    margin-bottom: 20px; }

  .care-of-animals .care-footer {
    flex-direction: column;
    align-items: center; }
    .care-of-animals .care-footer .fz18 {
      font-size: 14px; }

  .financial-support {
    padding-top: 35px; }

  .financial-support .finance-title {
    max-width: 358px; }

  .financial-support .finance-text .finance-block {
    white-space: normal;
    max-width: 300px;
    margin-left: 0; }

  .financial-support .finance-text .donate-box {
    max-width: 220px; }

  .animals-help .container {
    max-width: 382px;
    line-height: 20px; }

  .animals-help .help-type ul li {
    padding: 0; }

  .article-set footer {
    margin: 0; }

  .auto-help .container {
    max-width: 382px; }

  .auto-help .article-set {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .auto-help .article-set p {
      margin-bottom: 20px; }

  .volunteering {
    padding-top: 0; }
    .volunteering .volunteering-content {
      align-items: flex-start;
      flex-direction: column; }
      .volunteering .volunteering-content .article-set {
        display: flex;
        flex-direction: column;
        align-items: center; }
    .volunteering .volunteering-content article {
      margin-left: 0px;
      align-self: center; }
      .volunteering .volunteering-content article p {
        max-width: 382px;
        margin-bottom: 20px; }
    .volunteering .left-box-animals {
      height: 197px;
      width: 65%; }
      .volunteering .left-box-animals .dog-in-circle {
        top: 6.5%;
        right: 4%;
        width: 172px;
        height: 172px; }

  .news .news-block .news-text {
    max-width: 287px; }

  .news .news-image img {
    width: 79px;
    height: 79px; }

  .about-us .container {
    max-width: 466px; }

  .about-us .about-us-socials {
    display: flex;
    align-items: center; }
    .about-us .about-us-socials .fz16 {
      font-size: 16px; }

  .thanks-text {
    background: url("../img/thanks-paw.png") no-repeat right 0px;
    font-size: 30px;
    line-height: 36px; }

  .thanks-for-help {
    height: 360px; }

  .shelter-text {
    margin-top: 10%; } }

/*# sourceMappingURL=styles.css.map */
